*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
    transition:0.4s;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:15px 50px;
    background:rgba(0,0,0,0.6);
    position:fixed;
    width:100%;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.hero {
    min-height: 65vh;   /* Reduced from 100vh */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;     /* Space from button */
    border: 4px solid #00ffff;
    box-shadow: 0 0 25px rgba(0,255,255,0.7);
}

.hero span{
    color:#00ffff;
}

.section{
    padding:40px 50px;
    text-align:center;
}

.about-details{
    margin-top:30px;
}
#about h1 {
    margin-bottom: 20px;
}

.card-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.card{
    background:rgba(255,255,255,0.1);
    padding:20px;
    border-radius:8px;
    width:250px;
    transition:0.3s;
}


.card:hover{
    transform:translateY(-5px);
}

.project-card{
    background:white;
    color:black;
    padding:20px;
    margin:20px auto;
    width:60%;
    border-radius:8px;
}

input, textarea{
    width:60%;
    padding:10px;
    margin:10px auto;
    display:block;
    border:none;
    border-radius:5px;
}

.main-btn{
    background:#00ffff;
    color:black;
    padding:12px 25px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-top:20px;
    transition:0.3s;
}

.main-btn:hover{
    background:#00cccc;
    transform:scale(1.05);
}

footer{
    text-align:center;
    padding:20px;
}

/* Dark Mode */
.dark{
    background:#111;
    color:white;
}